
.Nutzerbanner {
    position: relative;
    overflow: hidden;
    padding: 80px 18px;
    border-radius: 14px;
    background-color: rgb(0 0 0 / 0.32);
}

.Nutzerbanner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.Nutzer-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.Nutzer-info {
    color: #ffffff;
    line-height: 0.4;
}

.Nutzer-willkommen {
    font-size: 18px;
}

.Nutztername {
    font-weight: 600;
    font-size: 48px;
    text-decoration: underline;
}